<ion-content [fullscreen]="true">
    <ion-toolbar>
      <ion-title size="default" color="white">¡Buenas tardes!</ion-title>
      <ion-icon slot="end" name="notifications-outline" size="default"></ion-icon>
      <ion-icon slot="end" name="time-outline" size="default"></ion-icon>
      <ion-icon slot="end" name="settings-outline" class="last" size="default"></ion-icon>  
    </ion-toolbar>
 
  
  <ion-grid no-padding>
    <ion-row>
      <ion-col size="6" sizeXl="4">
        <app-ncard></app-ncard>
      </ion-col>
      <ion-col size="6" sizeXl="4">
        <app-ncard></app-ncard>
      </ion-col>
      <ion-col size="6" sizeXl="4">
        <app-ncard></app-ncard>
      </ion-col>
      <ion-col size="6" sizeXl="4">
        <app-ncard></app-ncard>
      </ion-col>
      <ion-col size="6" sizeXl="4">
        <app-ncard></app-ncard>
      </ion-col>
      <ion-col size="6" sizeXl="4">
        <app-ncard></app-ncard>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <h2> Tus listas</h2>
  <ion-slides>
    <ion-slide class="ion-padding-vertical covers">
      <app-acard></app-acard>
    </ion-slide>
    <ion-slide class="ion-padding-vertical covers">
      <app-acard></app-acard>
    </ion-slide>
    <ion-slide class="ion-padding-vertical covers">
      <app-acard></app-acard>
    </ion-slide>
    <ion-slide class="ion-padding-vertical covers">
      <app-acard></app-acard>
    </ion-slide>
    <ion-slide class="ion-padding-vertical covers">
      <app-acard></app-acard>
    </ion-slide>
  </ion-slides>
  <h2> Tus listas</h2>
  <ion-slides>
    <ion-slide class="ion-padding-vertical covers">
      <app-acard></app-acard>
    </ion-slide>
    <ion-slide class="ion-padding-vertical covers">
      <app-acard></app-acard>
    </ion-slide>
    <ion-slide class="ion-padding-vertical covers">
      <app-acard></app-acard>
    </ion-slide>
    <ion-slide class="ion-padding-vertical covers">
      <app-acard></app-acard>
    </ion-slide>
    <ion-slide class="ion-padding-vertical covers">
      <app-acard></app-acard>
    </ion-slide>
  </ion-slides>
  <h2> Tus listas</h2>
  <ion-slides>
    <ion-slide class="ion-padding-vertical covers">
      <app-acard></app-acard>
    </ion-slide>
    <ion-slide class="ion-padding-vertical covers">
      <app-acard></app-acard>
    </ion-slide>
    <ion-slide class="ion-padding-vertical covers">
      <app-acard></app-acard>
    </ion-slide>
    <ion-slide class="ion-padding-vertical covers">
      <app-acard></app-acard>
    </ion-slide>
    <ion-slide class="ion-padding-vertical covers">
      <app-acard></app-acard>
    </ion-slide>
  </ion-slides>
  <h2> Tus listas</h2>
  <ion-slides>
    <ion-slide class="ion-padding-vertical covers">
      <app-acard></app-acard>
    </ion-slide>
    <ion-slide class="ion-padding-vertical covers">
      <app-acard></app-acard>
    </ion-slide>
    <ion-slide class="ion-padding-vertical covers">
      <app-acard></app-acard>
    </ion-slide>
    <ion-slide class="ion-padding-vertical covers">
      <app-acard></app-acard>
    </ion-slide>
    <ion-slide class="ion-padding-vertical covers">
      <app-acard></app-acard>
    </ion-slide>
  </ion-slides>
  <h2> Tus listas</h2>
  <ion-slides>
    <ion-slide class="ion-padding-vertical covers">
      <app-acard></app-acard>
    </ion-slide>
    <ion-slide class="ion-padding-vertical covers">
      <app-acard></app-acard>
    </ion-slide>
    <ion-slide class="ion-padding-vertical covers">
      <app-acard></app-acard>
    </ion-slide>
    <ion-slide class="ion-padding-vertical covers">
      <app-acard></app-acard>
    </ion-slide>
    <ion-slide class="ion-padding-vertical covers">
      <app-acard></app-acard>
    </ion-slide>
  </ion-slides>
</ion-content>
