ion-toolbar{
    --color: white;
    margin-top: 1em !important;
    --background: transparent !important;
}


ion-progress-bar {
    --background: green;
    --buffer-background: red;
    --progress-background: black;
}

.last{
    margin-right: 1em;
}

ion-icon{
    font-size: 20px;
}

.falbum{
    width: 50px;
}

ion-title{
    text-align: left !important;
}

ion-col{
    margin: 0px !important;
    padding: 0px !important;
}
ion-card-content{
    padding: 0px !important;
}
ion-card{
    margin: 0px !important;
}

.covers{
    width: 40% !important;
    padding: 0% !important;
    //margin-left: -25% !important;
    margin-right: -1% !important;
}

h2{
    margin-left: 10px !important;
}